* {
    --lightBlue: #9ec3fc;
    --darkBlue: #223842;
    --lightBlueTransparent: #9ec3fc60;
    --orangeTransparent: #c29e5660;
    --greenTransparent: #00766760;
    --green: #007667;
}
body, html {
    margin: 0;
    width: 100%;
    height: 100%;
}
.info {
    height: 95%;
    width: 100%;
    background-color: var(--lightBlueTransparent);
    margin: 0px;
    padding-top: 0px;
}

.line {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--darkBlue);
    opacity: 80%;
    margin-left: auto;
    margin-right: auto;
}

.phone {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--green);
    margin-left: auto;
    margin-right: auto;
}
.form {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--darkBlue);
    opacity: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--orangeTransparent);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 0;
}
.content {
    width: 80%;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--darkBlue);
    opacity: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1200px){
    .info {
        float: left;
        background-color: var(--lightBlueTransparent);
        font-size: 125%;
        overflow: hidden;
        scroll-behavior: smooth;
    }
    .content {
        font-size: 150%;
    }
}
@media only screen and (max-width: 860px){
    .info {
        float: left;
        height: 150%;
        width: 100%;
        background-color: var(--lightBlueTransparent);
        overflow: hidden;
        scroll-behavior: smooth;
    }
    .content {
        font-size: 150%;
    }
}